@charset "UTF-8";
@import "./fonts/galliard/stylesheet.css";

/***********************************************
 *              basic definitions              *
 ***********************************************/
@font-face {
  font-family: "urlaub-grotesk";
  src: url("./fonts/Urlaub-Grotesk-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}


:root {
  --cs-font-serif: "ITC Galliard Std";
  --cs-font-sans-serif: "urlaub-grotesk", "Helvetica Neue", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --cs-plum: #710551;
  --cs-pink: #ffb0ff;
  --cs-black: #000000;
  --cs-duck: #00553e;
  --cs-seagreen: #8fc7b1;
  --cs-gold: #da9902;
  --cs-blue: #001bde;
  /*--cs-darkplum: #680059;
  --cs-lightplum: #a2004e;*/
}


/***********************************************
 *                global styles                *
 ***********************************************/
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: var(--cs-font-serif);
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
